/* Croscribe Bağlantısı için Stiller */
.croscribe-link {
    font-weight: bold;
    color: #007bff; /* Mavi renk */
    text-decoration: none;
    font-size: 1.2em; /* Biraz daha büyük font boyutu */
    transition: color 0.3s ease;
}

.croscribe-link:hover {
    color: #0056b3; /* Üzerine geldiğinde renk değişimi */
}

/* Diğer stil tanımlamalarınız buraya eklenebilir */

body {
    background-color: #000080; /* Lacivert rengi */
}
